body{
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}

.content_1, .content_2, .content_3, .content_4, .footer{
    font-family: "Roboto", sans-serif;
    padding-inline: 180px;
}

.content_1{
    background-color: #1f2937;
    min-height: 520px;
    display: flex;
    flex-direction: column;
}

.content_1 .header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content_1 .header .text{
    color: #f9faf8;
    font-weight: bolder;
    font-size: 24px;
    display: flex;
    align-items: center;
}

ul, .small{
    list-style-type: none;
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    margin-left: auto;
    gap: 12px;
}

.content_1 .main{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    gap: 30px;
}

.opening{
    flex: 1;
}

.big{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

button{
    margin-top: 10px;
    background-color: #3882f6;
    border: 0;
    font-size: 19px;
    color: #f9faf8;
    border-radius: 10px;
    padding: 10px 40px;

}

.box{
    flex: 1;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

.content_2{
    background-color: white;
    min-height: 483px;
    display: flex;
    flex-direction: column;
}

.content_2 .boxes{
    display: flex;
    margin: auto;
}

.information_header{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin: auto;
}

.boxes{
    justify-self: center;
    align-self: flex-start;
}

.content_2_box{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.im_ill{
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6; 
    border-radius: 15px;
}

.subtext{
    margin: 3px;
    text-align: center;
}

.content_3{
    background-color: #e5e7eb;
    min-height: 417px;
    display: flex;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    margin-top: auto;
}

.name{
    font-size: 24px;
    font-weight: bold;
    color:#1f2937;
    margin-bottom: auto;
    text-align: end;
}

.content_4{
    background-color: white;
    min-height: 340px;
    display: flex;
    flex-direction: column;
}

.back{
    background-color: #3882f6;
    height: auto;
    margin: auto;
    width: 100%;
    padding: 40px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.top{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8
}

.bottom{
    color: #e5e7eb
}

.right{
    margin-left: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

.back button{
    margin: 0;
    border: 2px solid white;
}

.footer{
    background-color: #1f2937;
    min-height: 96px;
}

