body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content_1{
    background-color: #1f2937;
    min-height: 683px;
}

.content_2{
    background-color: white;
    min-height: 635px;
}

.content_3{
    background-color: #e5e7eb;
    min-height: 548px;
}

.content_4{
    background-color: white;
    min-height: 448px;
}

.footer{
    background-color: #1f2937;
    min-height: 127px;
}